In [84]:
import pandas as pd
import numpy as np
from itertools import compress
from itertools import combinations
from scipy import stats
import math

In [75]:
def pre_processamento():
    xlsx = pd.ExcelFile('casos_corona.xlsx')
    df = pd.read_excel(xlsx, 'casos_corona')
    df = df[:300]
    df = df[['bairroPaciente','municipioPaciente','resultadoFinalExame','sexoPaciente']]
    #grouped = df.groupby(['bairroPaciente'])
    bairros = pd.unique(df['bairroPaciente'])

    clusters = []
    for bairro in bairros:
        cluster = []
        for i in range(len(df)):
            if(df.loc[i][0] == bairro):
                if(df.loc[i][2] == 'Positivo'):
                    resultado = 1
                else:
                    resultado = 0
                cluster.append([df.loc[i][0], df.loc[i][1], resultado, df.loc[i][3]])
        clusters.append(cluster)

    novo_df = []
    for cluster in clusters:
        for i in range(len(cluster)):
            novo_df.append(cluster[i])

    novo_df = pd.DataFrame(novo_df)
    novo_df.rename(columns={0: 'bairro_paciente', 1: 'municipio_paciente', 2: 'resultado_exame', 3: 'sexo_paciente'}, inplace=True)    
    return novo_df

In [128]:
df = pre_processamento()

In [129]:
df

           bairro_paciente municipio_paciente  resultado_exame sexo_paciente
0                VILA PERI          FORTALEZA                0     MASCULINO
1                  VARJOTA          FORTALEZA                0      FEMININO
2    NOVA METROPOLE JUREMA            CAUCAIA                0      FEMININO
3     PARQUE POTIRA JUREMA            CAUCAIA                0      FEMININO
4                 PINHEIRO            GUAIÚBA                0     MASCULINO
5              ALDEIA PARK            PACAJUS                0     MASCULINO
6                PRECABURA            EUSEBIO                0     MASCULINO
7               PL CAUCAIA            CAUCAIA                0     MASCULINO
8                   JUREMA            CAUCAIA                0     MASCULINO
9                   JUREMA            CAUCAIA                0      FEMININO
10                  JUREMA            CAUCAIA                1     MASCULINO
11                 TABAPUA            CAUCAIA                0      FEMININO
12                 ITAPAJE             SOBRAL                0      FEMININO
13       PADRE JULIO MARIA            CAUCAIA                0     MASCULINO
14                  CENTRO             SOBRAL                0     MASCULINO
15                  CENTRO          HORIZONTE                0      FEMININO
16                  CENTRO            CAMOCIM                0      FEMININO
17                  CENTRO           IRAUCUBA                0      FEMININO
18                  CENTRO   MONSENHOR TABOSA                1      FEMININO
19                  CENTRO   MONSENHOR TABOSA                1     MASCULINO
20                  CENTRO            ITAREMA                0      FEMININO
21                  CENTRO   MONSENHOR TABOSA                0     MASCULINO
22                  CENTRO             CROATA                0     MASCULINO
23                  CENTRO           BATURITÉ                1     MASCULINO
24                  CENTRO       QUIXERAMOBIM                1      FEMININO
25                  CENTRO               TAUA                0     MASCULINO
26                  CENTRO            EUSEBIO                0      FEMININO
27                  CENTRO            ARACATI                0     MASCULINO
28                  CENTRO            TIANGUA                0      FEMININO
29                  CENTRO          MARACANAU                0     MASCULINO
..                     ...                ...              ...           ...
270            SÃO GONÇALO          FORTALEZA                0      FEMININO
271               MEIREKES          FORTALEZA                0     MASCULINO
272                  GRILO            CAUCAIA                0     MASCULINO
273          PARQUE ALBANO            CAUCAIA                1      FEMININO
274      GOVERNADOR FERRAZ            TIANGUA                0     MASCULINO
275        MARECHAL RONDON            CAUCAIA                0      FEMININO
276          ANTONIO DIOGO           REDENCAO                0     MASCULINO
277           JEREISSATI 2           PACATUBA                1     MASCULINO
278               TIMBAUBA             TURURU                1      FEMININO
279             MANGABEIRA            EUSEBIO                0     MASCULINO
280                SEDE IV           BEBERIBE                0      FEMININO
281             JANGURUSSU          FORTALEZA                1     MASCULINO
282                MUTIRAO        JAGUARIBARA                0      FEMININO
283     PARQUE GUADALAJARA            CAUCAIA                1     MASCULINO
284               FLORESTA          FORTALEZA                1     MASCULINO
285                COMBATE            QUIXADA                0     MASCULINO
286             AEROLANDIA          FORTALEZA                0     MASCULINO
287               DOM JOSE             SOBRAL                0      FEMININO
288        DEMOCRITO ROCHA          FORTALEZA                0      FEMININO
289                  ALTOS            MIRAIMA                0      FEMININO
290            MMANGUEIRAL          HORIZONTE                1     MASCULINO
291                ALDEOTA          FORTALEZA                1      FEMININO
292                  COITÉ         MARANGUAPE                0      FEMININO
293            SITIO UMARI            MOMBACA                1      FEMININO
294              TRIANGULO         CHOROZINHO                0      FEMININO
295               PACATUBA           PACATUBA                0     MASCULINO
296           NOVO ORIENTE          MARACANAU                0      FEMININO
297                PIMENTA              CRATO                1     MASCULINO
298                HOLANDA           TAMBORIL                0      FEMININO
299              BOM JESUS            CAUCAIA                1      FEMININO

[300 rows x 4 columns]

In [130]:
def ajustar(df):
    bairros = pd.unique(df['bairro_paciente'])
    casos_bairros = []
    for bairro in bairros:
        count = 0
        for i in range(len(df)):
            if(df.loc[i][0] == bairro):
                count = count + 1
        casos_bairros.append([bairro, count])
    casos_bairros = pd.DataFrame(casos_bairros)
    casos_bairros.rename(columns={0: 'bairro', 1: 'count'}, inplace=True)
    return casos_bairros

In [143]:
dataset = ajustar(df)
dataset

                    bairro  count
0                VILA PERI      1
1                  VARJOTA      1
2    NOVA METROPOLE JUREMA      1
3     PARQUE POTIRA JUREMA      1
4                 PINHEIRO      1
5              ALDEIA PARK      1
6                PRECABURA      1
7               PL CAUCAIA      1
8                   JUREMA      3
9                  TABAPUA      1
10                 ITAPAJE      1
11       PADRE JULIO MARIA      1
12                  CENTRO     56
13                  TABUBA      1
14            SÃO RAIMUNDO      1
15               MESSEJANA      3
16          ALVARO WEYNE''      1
17           LAGOA REDONDA      1
18             CAPONGUINHA      1
19            ALVARO WEYNE      1
20                  PIRAJA      2
21                 BARROSO      1
22                MEIRELES      1
23                CRUZEIRO      1
24           VICENTE PIZON      1
25    PARQUE SANTA CECILIA      1
26                 PIRAMBÚ      1
27                 MONTESE      1
28         VICCENTE PINZON      1
29            TABAPUAZINHO      1
..                     ...    ...
173            SÃO GONÇALO      1
174               MEIREKES      1
175                  GRILO      1
176          PARQUE ALBANO      1
177      GOVERNADOR FERRAZ      1
178        MARECHAL RONDON      1
179          ANTONIO DIOGO      1
180           JEREISSATI 2      1
181               TIMBAUBA      1
182             MANGABEIRA      1
183                SEDE IV      1
184             JANGURUSSU      1
185                MUTIRAO      1
186     PARQUE GUADALAJARA      1
187               FLORESTA      1
188                COMBATE      1
189             AEROLANDIA      1
190               DOM JOSE      1
191        DEMOCRITO ROCHA      1
192                  ALTOS      1
193            MMANGUEIRAL      1
194                ALDEOTA      1
195                  COITÉ      1
196            SITIO UMARI      1
197              TRIANGULO      1
198               PACATUBA      1
199           NOVO ORIENTE      1
200                PIMENTA      1
201                HOLANDA      1
202              BOM JESUS      1

[203 rows x 2 columns]

In [148]:
def query_topk(dataset, k):
    copia = dataset.copy()
    output = []
    for i in range(k):
        indice = copia['count'].idxmax()
        output.append(copia.loc[indice][0])#([copia.loc[indice][0], copia.loc[indice][1]])
        copia.drop(indice, inplace=True,axis=0)
    return output

In [149]:
query_topk(dataset, 10)

['CENTRO',
 'ZONA RURAL',
 'ARATURI',
 'JUREMA',
 'MESSEJANA',
 'VIOLETE',
 'PARADA',
 'PIRAJA',
 'ANTONIO BEZERRA',
 'GIRILANDIA']

In [150]:
def score_function(registro, saida):
    if(registro[0] == saida):
        return registro[1]
    else:
        return 0

In [158]:
def sensibilidade(dataset):
    return np.max(np.array(dataset['count']))

In [159]:
sensibilidade(dataset)

56